<!DOCTYPE html>
<html>
<title>Node-masters's Home</title>

<body>
    <h1>Welcome to Node Master's</h1>
    <p id="page_intro">
        This web-app works on Node js backend , which is written in TypeScript and uses Express js.
    </p>
    <p>
        What this web-app does ...........well that's a work in progress !!!
    </p>
    <p>
        Already a User :
        <a href="/login">
            <button>login</button>
        </a>
        <br><br>
        New user ?
        <a href="/signup">
            <button>signup</button>
        </a>
    </p>
</body>

</html>