<!DOCTYPE html>
<html>
    <title>Node Master's Login Page</title>
    <body>
        <h1>Node Master's Login Page</h1>
        <form action="/userhome">
            <table>
                <tr>
                    <td>Email : </td>
                    <td> <input type="email" title="email" required="true"></td>
                </tr>
                <tr>
                    <td>Password : </td>
                    <td> <input type="password" title="password" require="true"></td>
                </tr>
                <tr>
                    <td colspan="2"><button>Submit</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>