<!DOCTYPE html>
<html>
<p>
    <h1>New user</h1>
</p>
<p>
    <form action="/login">
        <fieldset>
            <legend>User's information:</legend>
            First name: 
            <input type="text" name="firstname" value="first_name" required = true><br>
            Last name:<br>
            <input type="text" name="lastname" value="last_name"><br><br>
            Email:<input type="email" name="email" value="email" required = true><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>

</p>

</html>